backlog-story {
    width: 100%;
}

.backlog-story {
    max-width: 860px;
}
.backlog-list {
    max-width: 860px;
}

.backlog-story-title-block {
    width: 100%;
}

.backlog-story-title {
    align-items: baseline;
}

.hide {
    display: none;
}

.backlog-story .mdl-textfield,
.backlog-story h4 {
    width: 100%;
    padding: 20px 0;
    margin: 0;
}

.backlog-story h4 {
    padding: 24px 0 25px;

}

.backlog-story textarea {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    overflow: hidden;
}

#add-story-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 100;
}