backlog-story {
    width: 100%;
}

.backlog-story {
    max-width: 860px;
}

.backlog-story .backlog-story-requirements {
    display: none;
}

.backlog-story .backlog-story-basic {
    display: none;
}

.backlog-story .backlog-story-title .show {
    display: flex;
}

.backlog-list {
    max-width: 860px;
}

.backlog-story .backlog-story-requirements ul {
    list-style-type: none;
}
